* {
    margin: 0 auto;
    padding: 0;
}

.page-1 {
    background-color: yellow;
    height: 100vh;
    text-align: center;
    padding: 300px;
    box-sizing: border-box;
}

.page-2 {
    background-color: blue;
    height: 100vh;
    text-align: center;
    padding: 300px;
    box-sizing: border-box;
}

.page-3 {
    background-color: red;
    height: 100vh;
    text-align: center;
    padding: 300px;
    box-sizing: border-box;
}

.item {
    display: inline-block;
    margin: 0 60px auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.item a {
    text-decoration: none;
    color: black;

}